<nav class="mdl-navigation">
	{% for tag, menu in system.menu %}
		<a class="mdl-navigation__link" href="{{ci_site_url(menu.url)}}">
			<i class="material-icons">{{menu.icon}}</i> {{menu.label}}
		</a>
	{% endfor %}
</nav>