{% extends '@VIEWPATH/login/index/form.twig' %}

{% block username_message %}
	<div class="hint">{{ ci_form_error('username')|raw }}</div>
{% endblock %}

{% block password_message %}
	<div class="hint">{{ ci_form_error('password')|raw }}</div>
{% endblock %}